<% layout('layouts/layout') %> 
    <form action="/campgrounds" method="POST">
        <div>
            <label for="title">Campground Title</label>
            <input type="text" id="title" name="campground[title]">
        </div>

        <div>
            <label for="location">Campground Location</label>
            <input type="text" id="location" name="campground[location]">
        </div>
                <button>Add Campground</button>
    </form>

    <a href="/campgrounds">All Campground</a>
